<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
    <h3>Editing Product</h3>
    <form method="POST" action="/admin/<%= Product._id %>?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="product[name]" placeholder="Add a catchy title" type="text" class="form-control" value="<%= Product.name %>">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="product[description]" class="form-control"><%= Product.description %></textarea>
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">category</label>
            <input name="product[category]" placeholder="Add a catchy title" type="text" class="form-control" value="<%= Product.category %>">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">brand</label>
            <input name="product[brand]" placeholder="Add a catchy title" type="text" class="form-control" value="<%= Product.brand %>">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="product[imageURL]" placeholder="enter image URL/Link" type="text" class="form-control" value="<%= Product.imageURL %>">
        </div>
    
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="product[price]" placeholder="1200" type="number" class="form-control" value="<%= Product.price %>">
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">quantity</label>
            <input name="product[quantity]" placeholder="100" type="number" class="form-control" value="<%= Product.quantity %>">
        </div>
            
        <br><br>
            <button class="btn btn-dark add-btn">edit</button>
        <br><br>
    </form>
        </div>
    </div>
</body>
</html>